@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
html,
body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background: $blue;
  font-family: 'Raleway';
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
}