h1, img {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
.fruit {
    display: block;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
}
.fruit__image {
    max-height: 75px;
}
.fruit__name {
    color: #fff;
    padding-top: 10px;
}